/* Work in progress guys*/

/*-------------------------------------------- fonts start --------------------------------------------*/

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Slab Light'), local('JosefinSlab-Light'), url('http://themes.googleusercontent.com/static/fonts/josefinslab/v2/NbE6ykYuM2IyEwxQxOIi2GB7wJ9CoPCp9n30ZBThZ1I.woff') format('woff');
}
@font-face {
  font-family: 'IM Fell DW Pica SC';
  font-style: normal;
  font-weight: normal;
  src: local('IM FELL DW Pica SC'), local('IM_FELL_DW_Pica_SC'), url('http://themes.googleusercontent.com/static/fonts/imfelldwpicasc/v2/xBKKJV4z2KsrtQnmjGO17N53Gl4ViFi9Z2HSjeIl6bI.woff') format('woff');
}

/*-------------------------------------------- fonts end --------------------------------------------*/
/*-------------------------------------------- BODY start --------------------------------------------*/

body {
  	background-repeat: repeat;
  	background-image: url(images/body.jpg);
  	height: auto;
  	width: auto;
	color: #bebebe;
	font-family: 'Josefin Slab', serif;
}

#content {
  	width: 1000px;
  	height: auto;
  	margin-top: 0px;
  	margin-left: auto;
  	margin-right: auto;
}

/*-------------------------------------------- top NAV start --------------------------------------------*/

#unav {
  width: 1000px;
  height: 25px;
  color: #363636;
  background-color: #1e1e1e;
  position: fixed;
}
#unav ul {
  list-style: none;
  display: block;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#unav li.left {
  list-style: none;
  display: block;
  float: left;
  width: auto;
  padding-left: 5px;
  height:15px;
}

#unav li.right {
  list-style: none;
  display: block;
  width: auto;
  float: right;
  padding-right: 5px;
  height:15px;
}

/*-------------------------------------------- top NAV end --------------------------------------------*/

header {
  	width: 1000px;
  	height: 100px;
	background-image: url(images/header.png);
}

/*-------------------------------------------- NAV start --------------------------------------------*/
nav {
  	width: 1000px;
  	height: 50px;
  	font-family: 'IM Fell DW Pica SC', serif;
  	color: #aaaa00;
	background-color: #780000;
}

nav ul {
  list-style:none;
}

nav li {
  list-style: none;
  display: block;
  float: left;
  width: 200px;
  height: 30px;
  padding: 10px 25px 10px 25px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

/*-------------------------------------------- NAV end --------------------------------------------*/
/*-------------------------------------------- ARTICLE start --------------------------------------------*/

article {
 	width: 750px;
  	height: 900px;
  	float: right;
  	color: #363636;
  	background-color: #C0AA7D;
}
/*-------------------------------------------- ARTICLE end --------------------------------------------*/
/*-------------------------------------------- ASIDE start --------------------------------------------*/

aside {
  	width: 250px;
  	height: 900px;
  	float: left;
  	background-color: #C0AA7D;
}

#sidenav {
  	height: 300px;
  	width: 200px;
    margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: green;
	    
} 

#share {
  	height: 50px;
  	width: 200px;
  	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: green;
}

#download {
  	height: 100px;
  	width: 200px;
	margin: 25px;
  	background-color: green;
}

#donate {
	height: 200px;
  	width: 200px;
    margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
  	background-color: green;
}


/*-------------------------------------------- ASIDE end --------------------------------------------*/
/*-------------------------------------------- FOOTER start --------------------------------------------*/

.footerbar {
  width: 180px;
  height:130px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bebebe;
  color: #363636;
}

#footer {
  	color: #363636;
 	background-color: #1e1e1e;
 	width: 1000px;
 	height: 15px;
  	text-align: center;
  	font-size: 15px;
  	padding-top: 5px;
  	padding-bottom: 5px;
}

/*-------------------------------------------- FOOTER end --------------------------------------------*/
/*-------------------------------------------- MISC start --------------------------------------------*/

h1	{font-family: 'IM Fell DW Pica SC', serif;	}
h2	{font-family: 'IM Fell DW Pica SC', serif;	}
h3	{font-family: 'IM Fell DW Pica SC', serif;	}
h4	{font-family: 'IM Fell DW Pica SC', serif;	}
h5	{font-family: 'IM Fell DW Pica SC', serif;	}
h6	{font-family: 'IM Fell DW Pica SC', serif;	}

body a:link		{text-decoration: none;color: inherit;}
body a:hover   	{text-decoration: none;color: inherit;}
body a:visited  {text-decoration: none;color: inherit;}         	                                        